@model SS.Core.Entities.ConfiguracionDashboard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ConfiguracionDashboard</legend>

    <div class="display-label">EmpresaId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmpresaId)
    </div>

    <div class="display-label">ReportesDashboard</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReportesDashboard.Nombre)
    </div>

    <div class="display-label">MontoAfectadoMinimo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MontoAfectadoMinimo)
    </div>

    <div class="display-label">MontoAfectadoMaximo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MontoAfectadoMaximo)
    </div>

    <div class="display-label">EsConsolidado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EsConsolidado)
    </div>

    <div class="display-label">SeIncluyeTabla</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SeIncluyeTabla)
    </div>

    <div class="display-label">EsReporteBase</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EsReporteBase)
    </div>

    <div class="display-label">SegmentoReporteId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SegmentoReporteId)
    </div>

    <div class="display-label">TipoUnidadTiempo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoUnidadTiempo.Nombre)
    </div>

    <div class="display-label">ValorUnidadTiempo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValorUnidadTiempo)
    </div>

    <div class="display-label">ConfiguracionDashboardBaseId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConfiguracionDashboardBaseId)
    </div>

    <div class="display-label">UsuarioId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UsuarioId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
