<div id="reportes">
        <div id="RTMes"></div>
        <div id="RTDia"></div>
        <div id="RTHora"></div>
        <div id="RGeneral"></div>
        <div id="RTabular"></div>
        <div id="RMapa"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#RTMes").load("@Url.Action("TendenciaMes")");
        $("#RTDia").load("@Url.Action("TendenciaDia")");
        $("#RTHora").load("@Url.Action("TendenciaHora")");
        $("#RGeneral").load("@Url.Action("General")");
        $("#RTabular").load("@Url.Action("Tabular")");
        $("#RMapa").load("@Url.Action("Mapa")");
    });
 </script>